<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>

    <!-- inicio favicon  iphone retina, ipad, iphone en orden-->
    <!-- 	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon/256x256.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/favicon/114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/favicon/72x72.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/favicon/57x57.png"> -->
    <!-- end favicon -->

    {% block cssadicional %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css?v=1{{ BUILD_ID }}"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blocks_styl.css?v=2{{ BUILD_ID }}"/>

    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}js/html5.js"></script>
        <script src="{{ STATIC_URL }}js/respond.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css"/>
    <![endif]-->
</head>

<body class="{% block classbody %}{% endblock %}">

    <!-- html solo para el menu responsive -->
    <div  class="menu-mobile-open icon-menu"></div>
    <div class="menu-mobile-close icon-close"></div>
    <div class="menu-overlay"></div>
    <!-- html solo para el menu responsive -->

    <div class="cnt-wrapper">
        <!-- HEADER START -->
        {% include "_header.html" %}
        <!-- HEADER END -->
        <div class="wrapper">

            <!-- CONTENT START -->
            {% block content %}{% endblock %}
            <!-- CONTENT END -->
        </div>
        <!-- FOOTER START -->
        {% include "_footer.html" %}
        <!-- FOOTER END -->
    </div>


    <!-- contenedor del menu responsive -->
    <div class="menu-sidebar" data-menu="left-in">
        <div class="menu-sidebar-cnt"></div>
    </div>

    <script src="{{ STATIC_URL }}js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>

    <!-- JSADD START -->
    {% block jsfinal %}{% endblock %}
    <!-- JSADD END -->
 
</body>
</html>
